name: Mirror to Hugging Face Hub

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Mirror to Hugging Face Hub
        uses: huggingface/hub-action@v2
        with:
          repo_id: "jim-bo/cbio-vec"
          repo_type: "space"
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
